In [2]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [1]:
a = "2"
print(type(a))
print(type(int(a)))

<class 'str'>
<class 'int'>

In [4]:
a= "10"
b=3
print(a*b)

101010

In [8]:
import sys

if len(sys.argv) != 3:
    print("Usage: python email_generator.py 'Full Name' 'Last Name'")
    sys.exit()

full_name = sys.argv[1]
last_name = sys.argv[2]

email = full_name.lower().replace(" ", ".") + last_name + "@company.com"

print("\n--- Your Profile ---")
print("Full Name:", full_name, last_name)
print("Email:", email)

--- Your Profile ---
Full Name: -f C:\Users\SAKTHIVEL\AppData\Roaming\jupyter\runtime\kernel-c4a7924f-ab68-4234-8f61-2018f57251b8.json
Email: -fC:\Users\SAKTHIVEL\AppData\Roaming\jupyter\runtime\kernel-c4a7924f-ab68-4234-8f61-2018f57251b8.json@company.com

In [2]:
A= "74184398"
B =A[:2]+"******"+A[-2:]
print(B)

74******98

In [25]:
s = "sakthiaa"

s.lstrip()
s.rstrip()

'sakthiaa'

In [22]:
text = "hi sakthi"
text.split()    
s.strip()
s.lstrip()
s.rstrip()
# ['hi', 'sakthi']

'sakthiaa'

In [33]:
a = "sakthi vel"
b= "".join(i[0].upper()for i in a.split())
print(b)

SV

In [34]:
s = "sakthi123"

print(s.isalpha())     # False
print(s.isdigit())     # False
print(s.isalnum())     # True
print(s.isspace())     # False
print(s.startswith("sa")) # True
print(s.endswith("23"))   # True

False
False
True
False
True
True

In [6]:
def add(*args):
    t = 0
    for i in args:
        t += i
    print(t)
    print(t + 10)
    return t

print(add(1, 2, 34, 4, 6))
PRINT

47
57
47

In [15]:
def suma(**kwargs):
    for i , j  in kwargs.items():
        print(f"{i}{j}")
suma(name='sakthi',ahe = 12)

namesakthi
ahe12

In [2]:
a =100
b =20111
print(a,b)
a =a+b
b=a-b
a=a-b
print(a,b)

100 20111
20111 100

In [20]:
def s (d):
    l = 1
    while  d>9 or d<-9:
            l+=1
            d//=10
    return l
n=123456789
print(s(n))

IndentationError: unexpected indent (1764124682.py, line 3)

In [ ]:
n = 123456789
def s(d):
    l = 1
    while d > 9 or d < -9:
        l += 1
        d //= 10
    return l

9

In [2]:
s = "python"

s.upper()     # PYTHON
s.lower()     # python
s.title()     # Python
s.capitalize()# Python

'Python'

In [3]:
s = "hello world"

print(s.find("world"))                 # 6
print(s.replace("world", "Python"))    # hello Python

6
hello Python

In [5]:
s = "Python1 23"

print(s.isalpha())     # False
print(s.isdigit())     # False
print(s.isalnum())     # True
print(s.startswith("Py"))  # True
print(s.endswith("123"))   # True

False
False
False
True
False

In [6]:
s = "apple,banana,orange"

words = s.split(",")
print(words)

new_s = "-".join(words)
print(new_s)

['apple', 'banana', 'orange']
apple-banana-orange

In [10]:
a = "python"
b = "python"

print(a == b)                   # False
print(a.lower() == b.lower())   # True

True
True

In [8]:
s = "Python"

for ch in s:
    print(ch)

P
y
t
h
o
n

In [14]:
a = "sakthivel is lover"
b = "".join([word[0].upper() for word in a.split()])
print(b)
print(len(a.split()))

SIL
3

In [17]:
s = "apple,banana,orange"

print(s.split(","))   # ['apple', 'banana', 'orange']

['apple', 'banana', 'orange']

In [18]:

words = ['apple', 'banana', 'orange']

print("-".join(words))

apple-banana-orange

In [21]:
s = "a,b,c"
lst = s.split(",")
print(lst)

print("-".join(lst))

['a', 'b', 'c']
a-b-c

In [22]:
s = "python"
print(id(s))
s = s.upper()
print(id(s))

2419505413216
2419602860496

In [23]:
def profile(name, *skills, **details):
    print("Name:", name)
    print("Skills:", skills)
    print("Details:", details)

profile(
    "Sakthi",
    "Python", "SQL", "AI",
    age=21,
    city="Chennai"
)

Name: Sakthi
Skills: ('Python', 'SQL', 'AI')
Details: {'age': 21, 'city': 'Chennai'}

In [24]:
def add(a, b, c):
    print(a + b + c)

nums = [1, 2, 3]
add(*nums)

6

In [25]:
def test(x):
    return x * x

print(test(2 + 3))
#

25

In [28]:
s = "python"
for i in range(len(s)):
    if i % 2 == 0:
        print(s[i],)

p
t
o

In [29]:
def fun(x):
    return x + 5

print(fun(fun(5)))

15

In [30]:
x = 10
if x > 5:
    if x < 8:
        print("A")
    else:
        print("B")
else:
    print("C")

B

In [31]:
def test(a, b):
    a = a + b
    b = a - b
    print(a, b)

x = 3
y = 5
test(x, y)
print(x, y)

8 3
3 5

In [32]:
n = 7
is_prime = True

for i in range(2, n):
    if n % i == 0:
        is_prime = False
        break

if is_prime:
    print("Prime")
else:
    print("Not Prime")

Prime